asgiref==3.8.1
certifi==2024.12.14
Django==5.1.5
elastic-transport==8.17.0
elasticsearch==8.17.1
elasticsearch-dsl==8.17.1
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
